# Python 虛擬環境
venv/
.env/

# Python 快取檔案
__pycache__/
*.py[cod]
*$py.class

# 作業系統檔案
.DS_Store
Thumbs.db

# OpenCV / 影像輸出
output/
*.jpg
*.png

*.mp4

# IDE/編輯器設定檔
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 日誌檔案
*.log
*.tmp
*.swp


# 例外：results 資料夾的 jpg 不忽略
!results/*.jpg